*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    font-size: 28px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    padding: 15px 0;
    background: #000;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    background: #63b4d6;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}
nav a:hover{
    background: #000;
}
.main{
    display: flex;
    background: #f3f3f3;
    align-items: center;
    justify-content: space-between;
}
.main-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    padding: 25px;
}
.main-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 625px;
    padding: 25px;
}
.img-block img{
    width: 90%;
    height: 90%;
    margin-bottom: 25px;
}
.gallery{
    display: flex;
    justify-content: space-between;
}
.gallery img{
    width: 15%;
    height: 15%;
}
.short-description h2{
    margin: 0 0 15px 0;
    font-size: 26px;
    font-weight: 500;
    color: #323232;
}
.short-description h2 span{
    font-weight: 600;
}
.short-description p {
    margin: 0 0 30px 0;
    font-style: italic;
    color: #323232;
}
.сharacteristic h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}
.сharacteristic ul{
    margin: 15px 0 40px 0;
}
.сharacteristic ul li{
    font-size: 18px;
    margin: 0 0 5px 0;
}
.spec{
    display: flex;
    justify-content: center;
}
.сharacteristic a{
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #63b4d6;
    padding: 5px;
    color: white;
    font-weight: 400;
    text-align: center;
}
.сharacteristic a:hover{
    background-color: #000;
}
.specifications{
    display: none;
    flex-direction: column;
    align-items: center;
}
.active{
    display: flex;
}
.specifications h3{
    margin: 40px 0;
    font-size: 24px;
    text-align: center;
}
.spec-container{
    display: flex;
    flex-direction: column;
}
.spec-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.spec-h{
    font-weight: 600;
    margin: 15px;
}
.spec-d{
    margin: 15px;
}
.description h4{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.h4 {
    background-color: #63b4d6;
}
.about-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
.about-general h5, .about-general p{
    color: #fff;
}
.about-general h5{
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
.about-general p{
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}
.about-text-end{
    text-align: end;
}
.about-desc, .about-img{
    width: 550px;
}
.about-img{
    display: flex;
}
.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-desc-div{
    max-width: 500px;
    margin-left: 25px;
}
.about-desc-div-end{
    max-width: 500px;
    margin: 0 25px 0 0;
}
.about-img img{
    width: 100%;
    height: 100%;
}
.hp-perform{
    background: #606060;
}
.hp-display{
    background-color: #009b9f;
}
.hp-weight{
    background-color: #f3f3f3;
}
.hp-weight h5, .hp-weight p{
    color: #000;
}

@media (max-width: 870px) {
    .short-description h2{
        font-size: 20px;
    }
    .сharacteristic h2{
        font-size: 16px;
    }
    .short-description p {
        font-size: 16px;
    }
    .сharacteristic ul li{
        font-size: 14px;
    }
}
@media (max-width: 715px) {
    .short-description h2{
        font-size: 15px;
    }
    .сharacteristic h2{
        font-size: 14px;
    }
    .short-description p {
        font-size: 14px;
    }
    .сharacteristic ul li{
        font-size: 12px;
    }
    .сharacteristic a{
        font-size: 14px;
    }
}
@media (max-width: 640px) {
    .main{
        flex-direction: column;
    }
    .short-description h2{
        font-size: 24px;
    }
    .сharacteristic h2{
        font-size: 18px;
    }
    .short-description p {
        font-size: 16px;
    }
    .сharacteristic ul li{
        font-size: 16px;
    }
    .spec-item{
        display: flex;
        flex-direction: column;
    }
    .spec-h{
        margin: 10px 0px -10px 15px;
    }
    .main-gallery, .main-block{
        max-width: 100%;
        max-height: 100%;
    }
    nav{
        flex-direction: column;
    }
    nav a{
        padding: 10px;
        font-size: 16px;
    }
    .about-general{
        flex-direction: column;
    }
    .about-desc, .about-img{
        width: 100%;
        height: 100%;
    }
    .about-desc h5, .about-desc p{
        text-align: center;
    }
    .about-desc{
        margin: 25px;
    }
    .about-desc-div{
        margin: 0 15px;
    }
    .about-desc-div-end{
        margin: 0 15px;
    }
}